hr
{
    max-width: 30rem;
}
.new
{
	margin-top: 5rem;
}
.new img{
	width: 40%;
	float:left ;
}
.product-discription
{
	position: relative;
	left:3rem;
}
#cart
{
	display: inline-block;
	padding: 13px 25px;
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 600;
	border-radius: 5px;
	/*transition: all .35s ease;*/
}
.btn,.product-discription p,h3
{
    margin-top: 1.5rem;
}
.about-item
{
    position: relative;
    left:27rem;
    max-width: 30rem;
}
.type-detail
{
    position: relative;
    left:10rem;
    top:-5.6rem;
}
.last-text
{
    position: relative;
    top:20rem;
}
.contact{
	background: var(--text-color);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	gap: 2rem;
}
.main-contact h3{
	font-size: 23px;
	margin-bottom: 1.6rem;
	color: var(--bg-color);
}
.main-contact h5{
	font-size: 15px;
	font-weight: 600;
	color: #555;
}
.icons{
	display: flex;
	margin-top: 2rem;
}
.icons i{
	font-size: 25px;
	margin-right: 1rem;
	color: #555;
	transition: all .35s ease;
}
.icons i:hover{
	color: var(--bg-color);
	transform: scale(1.1) translateY(-5px);
}
.main-contact li{
	margin-bottom: 15px;
}
.main-contact li a{
	display: block;
	color: #555;
	font-size: var(--normal-font);
	font-weight: 600;
	transition: all .35s ease;
}
.main-contact li a:hover{
	transform: translateX(-8px);
	color: var(--bg-color);
}

/*------review section----*/
.testimonials{
	width: 80%;
	margin: auto;
	padding-top: 100px;
	text-align: center;
}
.testimonials p{
	font-size: 15px;
}
.tc{
flex-basis: 44%;
border-radius: 10px;
margin-bottom: 5%;
margin-top: 5%;
text-align: left;
background: #fff3f3;
padding: 25px;
cursor: pointer;
display: flex;
}
.tc img{
	height: 40px;
	margin-left: 5px;
	margin-right: 30px;
	border-radius: 50%;
}
.tc p{
	font-size: 15px;
	padding: 0;
}
.tc h3{
	font-size: 20px;
	margin-top: 15px;
	text-align: left;
}
.tc i{
	color: #f44336;
	font-size: 15px;

}





.c{
  position: relative;
  width: 400px;
  background: #fff3f3;
  padding: 20px 30px;
  border: 1px solid #fff3f3;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.c .p{
  display: none;
}
.c .t{
  font-size: 25px;
  color: #fff3f3;
  font-weight: 500;
}
.c .e{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: #fff3f3;
  font-weight: 500;
  cursor: pointer;
}
.c .e:hover{
  text-decoration: underline;
}
.c .s input{
  display: none;
}
.s label{
  font-size: 40px;
  color: #fff3f3;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}
input:checked ~ label{
  color: #fd4;
}
input#rate-5:checked ~ label{
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
#rate-1:checked ~ form header:before{
  content: "I just hate it ";
}
#rate-2:checked ~ form header:before{
  content: "I don't like it ";
}
#rate-3:checked ~ form header:before{
  content: "It is awesome ";
}
#rate-4:checked ~ form header:before{
  content: "I just like it ";
}
#rate-5:checked ~ form header:before{
  content: "I just love it ";
}
.c form{
  display: none;
}
input:checked ~ form{
  display: block;
}
form header{
  width: 100%;
  font-size: 25px;
  color: #fe7;
  font-weight: 500;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}
form .te{
  height: 100px;
  width: 100%;
  overflow: hidden;
}
form .te textarea{
  height: 100%;
  width: 100%;
  outline: none;
  color: black;
  border: 1px solid #fff3f3;
  background: #fff3f3;
  padding: 10px;
  font-size: 17px;
  resize: none;
}
.te textarea:focus{
  border-color: #fff3f3;
}
form .b{
  height: 45px;
  width: 100%;
  margin: 15px 0;
}
form .b button{
  height: 100%;
  width: 100%;
  border: 1px solid #fff3f3;
  outline: none;
  background: #fff3f3;
  color: #999;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
form .b button:hover{
  background: #fff3f3;
}